@import "var";
html{
  overflow-x: hidden;
}
body {
  font-size: 18px;
  overflow-x: hidden;
  a {
    text-decoration: none;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
  }
  
}
.wrapper {
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  
  .left-part__inner {
    background: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;

    padding: 200px 50px;
    .details__social {
      ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        list-style: none;
        padding-left: 0;
        justify-content: center;
        li {
          margin-right: 20px;
          span {
            font-size: 20px;
            color: #000;
            -webkit-transition: all 0.1s ease-in-out;
            transition: all 0.1s ease-in-out;
            &:hover {
              color: #767676;
            }
          }
        }
      }
    }
    .left-part__inner-logo {
      h3 {
        font-weight: 900;
        font-size: 25px;
        color: #000;
        text-align: center;
        font-size: 30px;
      }
    }
    .left-part__inner-menu {
      min-height: 150px;
      .menu-list {
        height: 120px;
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        list-style: none;
        padding-left: 0;
        .menu-list__item {
          color: #767676;
          .item-link {
            color: #767676;
            font-weight: 500;
            letter-spacing: 1.5px;
            -webkit-transition: all 0.25s ease-in-out;
            transition: all 0.25s ease-in-out;
            
            &:hover {
              letter-spacing: 2.4px;
            }
            
          }
          &.active {
            .item-link {
              color: #000;
              font-weight: 600;
            }
          }
        }
      }
      .button-darkmode-switch {
        background-color: transparent;
        outline: none;
        border: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        padding: 0;
        .button-darkmode-tray {
          height: 28px;
          width: 54px;
          color: #767676;
          background-color: #fff;
          border-radius: 50px;
          border: 1px solid #000;
          margin: 0 6px;
          .button-darkmode-switcher {
            width: 24px;
            height: 24px;
            background-color: #000;
            border-radius: 50px;
            -webkit-transform: translate(1px, 1px);
            -ms-transform: translate(1px, 1px);
            transform: translate(1px, 1px);
            -webkit-transition: -webkit-transform 0.15s ease-in-out;
            transition: -webkit-transform 0.15s ease-in-out;
            transition: transform 0.15s ease-in-out;
            transition: transform 0.15s ease-in-out;
          }
        }
      }
    }
    .left-part__inner-copyright {
      color: #767676;
      font-style: italic;
    }
  }
  .right-part {
    height: 110vh;
    box-shadow: 0px 0px 10px 1px #e6e6e6;
    background: #f8f8f8;
    .home {
      position: relative;
      width: 100%;
      height: 100%;
      .home-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .home__overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        transition: all ease-in-out 0.6s;
        visibility: visible;
      }
      .home__content {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-47%);
        color: #fff;
        transition: all ease-in-out 0.5s;
        text-align: center;
        .avt-content__img {
          width: 180px;
          height: 180px;
          border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
          margin: 0 auto;
          border: 4px solid #fff;
        }
        .home__content-details {
          h3 {
            font-size: 35px;
          }
          .home__content-details__job {
            font-size: 20px;
          }
        }
      }
      
    }
    .about {
      padding: 70px 30px 30px;
      overflow-y: auto;
      background: #f8f8f8;
      .banner_about {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        //-webkit-filter: grayscale(100%);
        //filter: grayscale(100%);
      }
      .content-introduce__skill-heading{
          font-size: 14px;
          font-weight: 700;
      }
      .skill-desc__progress{
          position: relative;
          width: 100%;
          height: 20px;
          border-radius: 10px;
          background: rgba(0, 0, 0, 0.2);
          margin-top: 20px;
          &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: var(--percent);
            background-color: #000;
            border-radius: 10px 0 0 10px;
          }
      }
      .about_inner {
        position: relative;
        .about_content {
          position: absolute;
          top: 65%;
          left: 50%;
          transform: translate(-50%, -50%);
          h2 {
            color: #fff;
            font-size: 60px;
            letter-spacing: 6px;
          }
          span {
            font-style: italic;
            font-weight: 300;
            color: #fff;
            font-size: 15px;
            letter-spacing: 2px;
          }
        }
      }
      .about__description-name {
        color: #000;
        font-size: 30px;
        font-weight: 600;
      }
      p {
        text-align: justify;
        font-size: 14px;
      }
      .button {
        text-align: center;
        color: #fff;
        display: inline-block;
        background-color: #000;
        padding: 10px 0px;
        min-width: 185px;
        font-weight: 500;
        font-style: italic;
        font-size: 14px;
        cursor: pointer;
        -webkit-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        letter-spacing: 1.25px;
        margin-right: 10px;
        margin-bottom: 10px;
      }
      .inner-right {
        ul {
          list-style: none;
          line-height: 2;
          color: #767676;
          padding-left: 0;
          span {
            font-weight: 600;
            font-style: italic;
            display: inline-block;
            min-width: 100px;
            color: #767676;
          }
        }
      }
    }
    .contact{
      background: #f8f8f8;
      .title-flex__left{
        color: #000;
        font-size: 60px;
        letter-spacing: 6px;
        text-align: center;
      }
      .contact__map {
        width: 100%;
        padding: 70px 10px 10px;
        iframe{
          width: 100%;
          object-fit: cover;
        }
      }
      .contact_innner{
        display: flex;
        justify-content: center;
      }
      .content-contact__des{
        display: flex;
        margin-bottom: 10px;
        text-decoration: none;
        color: #000;
        padding: 0 10px;
        justify-content: center;
        .content-contact__icon {
          font-size: 1.5rem;
        }
        .content-contact__text {
          margin-left: 10px;
          color: #4e555d;
        }
      }
      .contact__form{
        margin: 0 20px;
        .input-text{
          width: 100%;
          height: 50px;
          margin-bottom: 30px;
          font-style: italic;
          padding: 0 10px;
          margin: 10px 0;
          border: 1px solid rgba(0,0,0,.2);

        }
        textarea{
          padding: 0 10px;
          margin: 10px 0;
          width: 100%;
          height: 120px;
          resize: none;
          border: 1px solid rgba(0,0,0,.2);
        }
        .button-submit{
          text-decoration: none;
          text-align: center;
          color: #fff;
          display: inline-block;
          background-color: #000;
          padding: 10px 0px;
          min-width: 185px;
          font-weight: 500;
          font-style: italic;
          cursor: pointer;
          -webkit-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
          letter-spacing: 1.25px;
          margin-bottom: 10px;
          border: none;
          
          &:hover{
            background: #767676;
            color: #000;
          }
        }
      }
    }
  }
}

.mobile-menu {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow:  -1px 0px 10px 1px #e6e6e6;
  padding: 20px;
  .mobile-menu__inner{
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    .mobile-menu__inner-logo{
      font-size: 20px;
      font-weight: 900;
      color: #000;
    }
    .mobile-menu__inner-menu{
      .menu-list {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        list-style: none;
        .menu-list__item {
          margin-left: 10px;
          .item-link {
            font-size: 20px;
            -webkit-transition: all .1s ease-in-out;
            transition: all .1s ease-in-out;
            color: #767676;
          }
        }
      }
    }
  }
}

